// Checkout.scss

.checkout-page {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;


  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px; /* 調整輸入框的填充 */
    border: 1px solid #ddd; /* 更輕的邊框顏色 */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* 添加邊框顏色過渡效果 */
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: #007bff; /* 聚焦時的邊框顏色 */
    outline: none; /* 移除聚焦時的默認輪廓 */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .total-price {
    margin-bottom: 20px;
    text-align: right;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .submit-btn, .back-btn {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }


  .submit-btn {
    background-color: #F05E1C;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #E98B2A;
    }
  }

  .back-btn {
    background-color: #0F2540;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #113285;
    }
  }
}
.error-message {
  color: red;
}
/* OrderSuccess.scss */


.successMessage {
  font-size: 20px;
  margin-bottom: 20px;
}

.successIcon {
  font-size: 48px;
  color: #28a745;
  margin-bottom: 20px;
}


.order-success-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa; /* 背景色 */
  border-radius: 10px; /* 圓角邊框 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
  margin-bottom: 50px; /* 新增底邊距 */
}

.order-success-page h2 {
  font-size: 24px;
  color: #333; /* 標題顏色 */
  margin-bottom: 20px;
}

.order-success-page p {
  font-size: 16px;
  color: #555; /* 段落文字顏色 */
  margin-bottom: 15px;
}

.back-to-products-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0F2540;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-to-products-btn:hover {
  background-color: #113285;
}
.error {
  border: 1px solid red;
}


